<!DOCTYPE html>
<html>
  <head>
    <title>Test1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-bold">INSTA</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <span  class="p-2 text-dark"><%= link_to "Главная страница", home_path %></span>
    <span  class="p-2 text-dark"><%= link_to "Добовление статьи", new_post_path %></span>
    
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>


<div class="container"
    <%= yield %>
    </div>
  </body>
</html>
